.collection-page {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 450px) {
    margin: 20px;
  }

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
    text-transform: uppercase; 
    @media screen and (max-width: 450px) {
      margin-bottom: 15px;
    }
  }
}
