.bar {
  position: fixed;
  background: #f9f9f9;

  &.top-bar {
    height: 50px;
    width: 100vw;
    padding: 0 80px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      height: 2px;
      width: calc(100% - 160px);
      background: black;
    }

    @media screen and (max-width: 1000px) {
      & {
        padding: 0 20px;
      }

      &:after {
        width: 100%;
        left: 0;
      }
    }


    .title {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &:hover .option {
        color: gray;
      }

      .option {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 15px;
        transition: all 200ms ease-in-out;
        cursor: pointer;

        &:hover {
          color: black;
        }

        &.hamburger {
          position: relative;
          content: "";
          display: block;
          width: 28px;
          height: 2px;
          background: black;
          padding: 0;

          &:before,
          &:after {
            position: absolute;
            content: "";
            display: block;
            background: black;
            width: 100%;
            height: 2px;
          }
          
          &:before {
            left: 0;
            top: -10px;
          }

          &:after {
            left: 0;
            bottom: -10px;
          }
        }
      }
    }
  }

  &.left-bar {
    height: 100%;
    width: 80px;
    padding: 50px 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: -2px;
      width: 2px;
      height: calc(100% - 100px);
      background: black;
    }

    .logo-container {
      height: 80px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }

  &.right-bar {
    height: 100%;
    width: 80px;
    padding: 50px 0;
    top: 0;
    right: 0;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -2px;
      width: 2px;
      height: calc(100% - 100px);
      background: black;
    }
  }

  &.bottom-bar {
    height: 50px;
    width: 100%;
    padding: 0 80px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      height: 2px;
      width: calc(100% - 160px);
      background: black;
    }

    .scroll {
      font-size: 16px;
      font-weight: 600;
      margin: 0 5px;
      transition: all 300ms ease-in-out;

      &.no-scroll {
        opacity: 0;
      }

      &.bob {
        animation: bob 1s ease-in infinite alternate;

        @keyframes bob {
          0% {
            transform: translateY(-15px);
          }
          100% {
            transform: none;
          }
        }
      }
    }
  }
}
