.contact-page {
	width: 100%;
	padding: 20px;
	text-align: center;
	background: white;

	.inner-contact {
		width: 100%;
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-around;
		align-items: flex-start;
	}
}