.product-details {
	width: 100%;
	height: auto;
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (max-width: 450px) {
	    margin: 20px;
	}

	.panels {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		.panel {
			width: 100%;
			max-width: 450px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 40px;

			h1 {
				margin-top: 0;
			}

			span, p {
				font-size: 120%;
			}

			.image-list {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
			    grid-gap: 10px;

				.list-image {
					width: 100%;
					border: solid 1px grey;
					background-size: cover;
					background-position: center;
					cursor: pointer;
					transition: all 200ms ease-in-out;

					&:after {
						content: "";
						display: block;
						padding-bottom: 100%;
					}

					&:hover {
				        opacity: 0.8;
				    }
				}
			}

			.price {
				color: grey;
				font-size: 150%;
			}

			.description {
				margin: 20px 0;
			}

			.feature {
				display: flex;

				:first-child {
					margin: 0 10px 5px 0;
				}
			}

			.share {
				margin-top: 40px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				:first-child {
					margin-bottom: 10px;
				}
				
				.share-buttons {
					display: flex;
					cursor: pointer;

					&:hover .icon {
						fill: gray;
					}

					.icon {
						margin: 0 5px;
						display: flex;
						justify-content: center;
						align-items: center;

						&:hover {
							fill: black;
						}

						svg {
							width: 26px;
							height: 26px;
							transition: all 200ms ease-in-out;
							margin: 0;
						}
						
					}
				}
			}
		}
	}

	
}