.join-mail {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	.form {
		margin: 20px 0;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		& > * {
			margin: 20px;
		}

		&:first-child {
			min-width: 200px;
		}
	}
}