* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  color: black;
  background-color: white;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #1e3c6b;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
}

a {
	text-decoration: none;
	color: black;
}


.content {
	padding: 50px 80px;
}

@media screen and (max-width: 1000px) {
	.content {
		padding: 50px 0 0 0;
	}
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

