.philosphy {
	.row {
		padding: 30px 60px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		
		&.grey {
			background-color: #f6f6f6; 
		}
		
		.col {
			margin: 20px 0;
			padding: 20px;
			width: 100%;
			max-width: 500px;

			.text {
				font-size: 140%;
				line-height: 30px;
				margin: 0 0 22px 0;
			}
		}
	}
}