.admin {
	padding-top: 20px;

	.admin-home {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.panels {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			.panel {
				width: 100%;
				max-width: 450px;
				display: flex;
				flex-direction: column;
				align-items: center;

				&.buttons > * {
					margin-bottom: 20px;
					width: 180px;
				}
			}
		}
	}
}